{
    "presets": ["latest"],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "ignore": [
        "**/*.test.js"
    ]
}
